<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Hoplixi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>hoplixi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to scan QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID for biometric authentication</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photos access to get QR code from photo library</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access for video recording</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs location access to provide location-based services</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>This app needs to write to your calendar</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>This app needs full access to your calendar</string>
	<key>NSRemindersUsageDescription</key>
	<string>This app needs access to your reminders</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your contacts</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs speech recognition access</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs to add photos to your library</string>
	<key>NSLocationUsageDescription</key>
	<string>This app needs location access</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs location access always and when in use</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs access to motion sensors</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs Bluetooth access</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs access to Bluetooth peripherals</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This app needs to track user activity for advertising</string>
	<key>NSSiriUsageDescription</key>
	<string>This app needs access to Siri</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs access to your music library</string>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
